:host(ubi-me-avatar) {
    text-align: center;
    display: inline-block;

    .avatar-small {
        vertical-align: text-bottom;
        display: inline-block;
        border-radius: 50%;
        border:1px solid #aaa;
        box-shadow: inset 0 0 10rem rgba(0,0,0,.25), 0 0 4rem rgba(255,255,255,.45);
        box-sizing: border-box;

        img {
            background-color: #f7f7f7;
            border-radius: 50%;
            width: 100%;
        }

        img.rounded {
            border-radius: 100%;
            vertical-align: baseline;
        }
    }
}
