<!--<div [id]="containerId" chartContainer [ngStyle]="{'width.px': width, 'height.px': height}"></div>-->


<!--<div [id]="containerId" chartContainer [ngStyle]="{'width.px': width, 'height.px': height}" [chart]="chart"></div>-->

<!-- [ngStyle]="{'width.px': width, 'height.px': height}" -->
<!-- <div [id]="containerId" chartContainer>
    <highcharts-chart
        [Highcharts]="highcharts"
        [options]="highchartsOptions"
        (chartInstance)="highchartsAfterInit($event)"
        [(update)]="highchartsUpdateFlag"
        style="width: 100%; height: 100%; display: block;"
    ></highcharts-chart>
</div> -->

<highcharts-chart [Highcharts]="highcharts"
                  [options]="highchartsOptions"
                  (chartInstance)="highchartsAfterInit($event)"
                  [(update)]="highchartsUpdateFlag"
                  style="width: 100%; height: 100%; display: block;"></highcharts-chart>


<span class="current-value">
    <div class="current-x">{{currentCrosshairX}}</div>
    <div class="current-y">{{currentCrosshairY}}</div>
</span>
