:host(ubi-data-chart) {
    display: inline-block;
    // margin: 24px;
    padding: 24px;
    width: 100%;
    position: relative;
    text-align: right;

    .current-value {
        display: inline-block;
        right: 10px;
        top: 6px;
        position: absolute;
        color: #3880ff;

        .current-x {
            color: #777;
            font-size: 11px;
        }
    }

}
