:host(ubi-channel-avatar) {
    text-align: center;

    .avatar-small {
        vertical-align: text-bottom;
        display: inline-block;
        box-sizing: content-box;

        img {
            background-color: transparent;
            //border-radius: 50%;
            width: 100%;
        }

        img.rounded {
            border-radius: 100%;
            vertical-align: bottom;
        }
    }
}
